<div class="container">
  <%= simple_form_for @request_approval do |f| %>
    <%= f.input :name, label: 'Request title' %>
    <%= f.input :description, label: 'Request description' %>
    <%= f.input :approved_by, label: 'Approver name' %>
    <%= f.button :submit %>
  <% end %>
</div>
