<div class="form-group">
  <p> name<%= @request_detail.name %></p>
  <p>description <%= @request_detail.description%></p>
  <p>requested_by <%= @request_detail.requester.email%></p>
  <p>approved_by <%= @request_detail.approver.email%></p>
</div>
<div>
  <%= button_to 'approve', action: "approve"%>
</div>
